body {
    background-image: url("http://img.edilportale.com/products/prodotti-112080-rel6734cc92430f47cabdbb5826ce231f51.jpg");
    background-size:cover;
}

.phone-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mainRunner
{
    border: 1px solid #000;
    position: relative;
}

.img1
{
    border: 1px solid #f00;
    position: relative;
    z-index: 2;
}

.img2
{
    border: 1px solid #0f0;
    position: relative;
    z-index: 1;
    top: -12px;
    left: 12px;
}